body {
  background-image: url("nyan_cat_bus_by_nooriginalnames-d7jqx2b.png");
}
h1 {
  color: white;
  text-align: center;
  font-family: "Space Comics";
  -webkit-text-stroke: 1px black;
}

.content {
  color: white;
  font-family: "Space Comics";
}

.content p:first-child {
  color: white;
  font-family: "Space Comics";
  padding-left: 100px;
}

.content p:nth-child(2) {
  color: white;
  font-family: "Space Comics";
  padding-left: 200px;
}

.content p:nth-child(3) {
  color: white;
  font-family: "Space Comics";
  padding-left: 300px;
}

.content a {
  color: white;
  text-decoration: none;
  padding-left: 400px;
}
